body {
  font-family: 'Syne Mono', monospace;
  height: 100%;
  color: ghostwhite;
}

.extra-big {
  font-size: 4em;
}

.carousel-image {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
}

.smaller-image {
  max-width: 100%;
  object-fit: contain;
  max-height: 400px;
  margin-top: 25px;
}

.carousel-container {
  height: 500px;
}

.opaque-background {
  height: 3.5rem !important;
  background-color: rgba(0,0,0,0.5) !important;
  border-radius: 5px;
}

.main-gradient { 
  background: rgb(104,0,255);
  background: linear-gradient(49deg, rgba(104,0,255,1) 0%, rgba(0,48,64,1) 40%, rgba(3,0,34,1) 100%);
}

ul.less-padding {
  padding-left: 1.5rem;
}

ul > li {
  margin-bottom: 10px;
}

.isCentered {
  text-align: center;
}

#carousel-1 {
  display: none;
}

#carousel-2 {
  display: block;
}

@media only screen and (max-width: 800px) {
  #carousel-1 {
    display: block;
  }

  .mobile-carousel {
    height: 360px;
  }
  
  .carousel-image {
    max-height: 375px;
  }
  
  #carousel-2 {
    display: none;
  }
}